---

on:  # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      php-version:
        description: 'The PHP-version to use for linting'
        type: string
        required: true
      repository:
        description: 'The repository that needs linting'
        type: string
        required: false
        default: ${{ github.repository }}
      ref:
        description: 'The branch, tag or SHA that needs linting'
        type: string
        required: false
        default: ${{ github.ref }}

env:
  supported: '["8.3", "8.4", "8.5"]'

jobs:
  linter:
    runs-on: ubuntu-latest

    steps:
      - name: Supported version check
        if: contains(fromJSON(env.supported), inputs.php-version) == false
        run: exit 1

      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          repository: ${{ inputs.repository }}
          ref: ${{ inputs.ref }}

      - name: Setup PHP runtime
        uses: shivammathur/setup-php@v2
        with:
          tools: phive
          php-version: ${{ inputs.php-version }}
          coverage: "none"
          extensions: :redis

      - name: Install overtrue/phplint (v9.7)
        run: |
          sleep $((random % 10))
          phive install overtrue/phplint@~9.7.1 --force-accept-unsigned --target ./bin

      - name: Lint PHP files
        run: |
          ./bin/phplint --no-cache --no-progress -v
